{% load static %}
{% load core_tags %}

<div class="card h-100">
    <img src="{% static 'images/profiles/user.png' %}"
        class="img-responsive card-img-top p-2 professional-card"
        alt="{{professional.user.get_full_name}}">
    <div class="card-body text-center text-muted">
        <h5 class="card-title small">
            <a href="{% url 'users:professionals-detail' fid=professional.id %}" class="text-decoration-none">
                {{professional.user.get_full_name}}
            </a>
        </h5>
        {% if professional.title %}
        <span class="card-subtitle small">{{professional.title}}</span>
        {% else %}
        <span class="card-subtitle small">&nbsp;</span>
        {% endif %}
        <div class="card-text">
            <div class="list-group list-group-flush border-0">
                <div class="list-group-item border-0 px-0">
                    <span class="small">
                        ${{professional.hourly_rate}} / {{_("h")}}
                    </span>
                </div>
                <div class="list-group-item border-0 p-0">
                    <span class="small">
                    {% render_stars professional.total_avg_rating %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>