{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container">
    <div class="row mb-4 mt-1">
        <div class="col">
            <h1>
                About Us
            </h1>
            <div>
                WeForBiz is a collaboration platform designed to connect businesses with talented
                professionals efficiently and transparently. Built with a modern, scalable architecture, WeForBiz
                streamlines the hiring process by combining intelligent matching algorithms, real-time project
                management
                tools, and secure payment solutions. Whether you’re a company seeking specialized skills or a professional
                looking for meaningful opportunities, WeForBiz provides a seamless space to collaborate, communicate,
                and
                create value. Our mission is to bridge the gap between talent and opportunity — making work smarter,
                faster,
                and more rewarding for everyone involved.
            </div>
        </div>
    </div>
</div>
{% endblock content %}