{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container">
    <div class="row mb-4 mt-1">
        <div class="col">
            <h1>
                Hakkımızda
            </h1>
            <div>
                WeForBiz, işletmeleri yetenekli profesyonellerle verimli ve şeffaf bir şekilde buluşturmak için
                tasarlanmış
                bir iş birliği platformudur. Modern ve ölçeklenebilir bir mimariyle geliştirilen
                WeForBiz,
                akıllı eşleştirme algoritmalarını, gerçek zamanlı proje yönetimi araçlarını ve güvenli ödeme çözümlerini
                birleştirerek işe alım sürecini kolaylaştırır. İster özel beceriler arayan bir şirket olun, ister
                anlamlı
                fırsatlar arayan bir profesyonel olun, WeForBiz iş birliği yapmak, iletişim kurmak ve değer yaratmak
                için kusursuz bir alan sunar. Misyonumuz, yetenek ve fırsat arasındaki boşluğu kapatmak ve işi herkes
                için
                daha akıllı, daha hızlı ve daha ödüllendirici hale getirmektir.
            </div>
        </div>
    </div>
</div>
{% endblock content %}