<div class="modal fade" id="phoneModal-{{job.id}}" tabindex="-1" aria-labelledby="phoneModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form action="{% url 'users:settings-phone' %}" method="post" class="form-group">
                {% csrf_token %}
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="phoneModalLabel">{{_("Phone")}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input value="{{phone|default_if_none:''}}" name="phone" type="tel"
                            class="form-control border-primary-subtle" id="idPhone" placeholder="{{_('Ex; 555 555 5555')}}"
                            required>
                        <label for="idPhone">{{_("Phone")}}</label>
                    </div>
                </div>
                <div class="d-grid col-md-6 mx-auto">
                    <button type="submit" class="btn btn-primary p-2 m-1 mb-4 py-2">
                        <i class="fa-solid fa-check-double"></i>
                        {{_("Submit")}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>