{% extends "base.html" %}

<head>
    {% block custom_stylesheets %}
    <!-- HighlightJS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/{{ request.session.theme|default:'github-dark' }}.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    {% endblock custom_stylesheets %}
</head>

<header class="bg-light">
    {% block core_header %}
    {% include "blog/header.html" %}
    {% endblock core_header %}
</header>
{% block content %}
<div class="container">
    {% block blog_body %}
    {% endblock blog_body %}
</div>
{% endblock content %}