{% load static %}
{% load i18n %}
{% load humanize %}

<div class="row">
    <div class="col">
        <h3>
            {{_("Your Chat Rooms")}}
        </h3>
    </div>
</div>
{% if client_chat_rooms %}
<div class="row">
    <div class="col">
        <div class="list-group list-group-flush">
            {% for chat_room in client_chat_rooms %}
            <div class="list-group-item list-group-item-action">
                {% include 'chats/chat-room-item.html' with cruser=chat_room.professional.user %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col">
        <div class="alert alert-info">
            <strong>
                {{_("You do not have any chat room yet.")}}
            </strong>
        </div>
    </div>
</div>
{% endif %}