{% extends 'professional/jobs/base.html' %}
{% load static %}
{% load job_tags %}
{% load core_tags %}
{% load humanize %}



{% block jobs_body %}
<div class="row">
    <div class="col">
        <h2>{{job.title}}</h2>
    </div>
</div>
{% if proposal %}
<div class="row my-3">
    <div class="col-md-8 bg-warning-subtle px-2 rounded">
        <small>
            <i class="fa-solid fa-circle-exclamation p-1"></i>
            {{_("You already sent ")}}
            <a href="{% url 'jobs:proposal-detail' idjob=job.id proposal_id=proposal.id %}">
                <strong>{{_("proposal ")}}</strong>
            </a>
            {{_("for this job!")}}
        </small>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col">
                {% include 'professional/jobs/job-item.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card p-3">
                    <p>
                        <span>
                            <i class="fa-solid fa-user-group"></i>
                            {{_("Hired: ")}}
                        </span>
                        <span>{{job.hired}}</span>
                    </p>
                    <p>
                        <span>
                            <i class="fa-solid fa-eye"></i>
                            {{_("Last viewed by client: ")}}
                        </span>
                        {% if job.last_viewed_date %}
                        <span>{{job.last_viewed_date|naturaltime}}</span>
                        {% else %}
                        <span class="text-muted">
                            {{_("Not yet!")}}
                        </span>
                        {% endif %}
                    </p>
                    {% if user.is_authenticated %}
                    <p>
                        <span>
                            {{_("Status")}}
                        </span>
                        <span class="badge badge-pill bg-light text-dark">
                            {{job.status}}
                        </span>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3 mb-2">
            <div class="d-grid gap-2">
                <a href="{% url 'jobs:send-proposal' idjob=job.id %}"
                    class="btn btn-primary {% if is_proposal_sent %}disabled{% endif %}">
                    <i class="fa-solid fa-paper-plane"></i>
                    {{_("Send Proposal")}}
                </a>
            </div>
            <div class="p-3 mt-2">
                <p>
                    <span>{{_("Required Points: ")}}</span>
                    <span class="badge badge-pill text-dark-emphasis">{{job.required_points}}</span>
                </p>
                <p>
                    <span>{{_("Available Points: ")}}</span>
                    <span class="badge badge-pill text-dark-emphasis">{{user.professional.total_points}}</span>
                </p>
            </div>
        </div>
        <div class="card p-2">
            <div class="card-body">
                <h5 class="">
                    {{_("About Client")}}
                </h5>
                <p>
                    {{_("Full Name: ")}}
                    <a href="{% url 'users:clients-detail' cid=job.created_by.id %}">
                        {{job.created_by.user.get_full_name}}
                    </a>
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <!-- TODO: verification not only will be with email. Improve this -->
                        {% if job.created_by.user.email_verified %}
                        {{_("Verified")}}
                        <i class="fa-solid fa-circle-check"></i>
                        {% else %}
                        {{_("Not Verified")}}
                        <i class="fa-solid fa-circle-xmark"></i>
                        {% endif%}
                    </li>
                    <li class="list-group-item">
                        {{_("Total Jobs:")}} {{job.created_by.posted_jobs_count}}
                    </li>
                    <li class="list-group-item">
                        {{_("Spent:")}} ${{job.created_by.total_spent}}
                    </li>
                    <li class="list-group-item">
                        <div>
                            <span class="d-block text-primary-emphasis">
                                {% render_stars job.created_by.total_avg_rating %}
                            </span>
                        </div>
                        <div>
                            {{job.created_by.total_avg_rating}} {{_("of")}} {{job.created_by.feedback_count}}
                            {{_("reviews")}}
                        </div>
                    </li>
                    <li class="list-group-item">
                        <small>
                            {{_("Joined Date: ")}} {{job.created_by.user.date_joined|date:'d M Y'}}
                        </small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock jobs_body %}