<div class="card custom-shadow rounded border-0">
    <div class="card-header bg-white p-3 pt-2 border-0 border-bottom">
        <div class="icon-stat bg-light">
            <i class="fa-solid {{icon}} fs-1 p-2"></i>
        </div>
        <div class="text-end pt-1">
            <p class="text-sm mb-0 text-capitalize">{{title}}</p>
            <h2 class="mb-0">{{value}}</h2>

        </div>
    </div>
    <!-- <div class="card-footer bg-white p-3 border-0">
        <p class="mb-0"><span class="small">{{delta}}%</span>
        </p>
    </div> -->
</div>